body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

header {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
}
